{% extends 'base.html.twig' %}

{% block title %}Formation Choisi {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Formation Choisi</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="list-group mt-4">
                    <li class="list-group-item"><strong>ID formation:</strong> {{ formation.id  }}</li>
                    <li class="list-group-item"><strong>Nom:</strong> {{ formation.nom }}</li>
                    <li class="list-group-item"><strong>Date:</strong> {{ formation.date }}</li>
                    <li class="list-group-item"><strong>Prix:</strong> {{ formation.prix }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
